@model List<ProductViewModel>

<table class="table-hover">
    <thead>
        <tr>
            <td style="width:100px"><span id="countItems">@Model.Count</span> items</td>
            <td id="name" style="width:400px"><b>ProductName</b></td>
            <td style="width:150px"><b>Quantity</b></td>
            <td style="width:200px"><b>Price</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    <span>
                        <button name="removefromcart" value="@product.ProductId" class="btn btn-sm btn-toolbar" onclick="RemoveFromCart(this)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </span><img />
                </td>
                <td>@product.ProductName</td>
                <td>1</td>
                <td>$@product.Price</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <h3>Total: <span id="totalcash">$@Model.Sum(x => x.Price)</span></h3>
</div>
