@model CartViewModel
@{
    ViewBag.Title = "Cart";
}

@Styles.Render("~/Content/Custom/cart.css")

<h3>My Shopping Cart</h3>
@Html.Hidden("CartUrl", Url.Action("UpdateCart", "Cart"))
<div id="cartitems" class="table">
    @Html.Partial("_CartTable", Model)
</div>
<div class="col-md-offset-11">
    <a class="btn btn-lg btn-success">Checkout</a>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/Custom/Cart.js")
}