
@{
    ViewBag.Title = "Order Success";
}

<br />
<h3 class="text-success">
    We have received your order! Please allow us some time to process, thank you!
</h3>
<h4>Order#: <a href="#">102621</a></h4>
<br />
<h4>Order detail displays here</h4>
<br />




