@model ProductWithCategoryViewModel
@{
    ViewBag.Title = "ProductsWithCategory";
}
<div>
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Home","Index","Home")</li>
        <li>Category</li>
        <li>
            @Html.ActionLink(Model.Category.ToString(),"Category","Product", new { type = (int)Model.Category },null)
        </li>
    </ul>
</div>
<h2>ProductsWithCategory</h2>

