@model ProductViewModel
@{
    ViewBag.Title = "Product Title";
}
@Styles.Render("~/Content/Custom/product.css")
<div name="separator">
    <br />
</div>
<div name="productInfo" class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div name="productheader" class="row">
                <div class="col-md-10"><h3>ProductName</h3></div>
                <div class="col-md-2">
                    <span class="btn btn-link" style="position:relative">
                        <i class="fa fa-heart-o" style="font-size:18px;color:red"></i>
                        Add to wishlist
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media-group">
                <img id="image" src="@Model.ImageSource" alt="Product image" />
            </div>
            <div id="generalinfo">
                <div>
                    @Model.Description
                </div>
                <div id="button-area">
                    <h4>$ @Html.DisplayFor(x=>x.Price)</h4><button id="buynowbtn" type="button" class="btn btn-lg btn-danger">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
