@model IList<ProductViewModel>
@{
    ViewBag.Title = "Sales";
}
@Styles.Render("~/Content/Custom/product-thumbnail.css")

<h3>Sales</h3>

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("~/Views/Home/Partial/_ProductThumbnail.cshtml", product);
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Custom/Cart.js")
    @Scripts.Render("~/Scripts/Custom/product.js")
}