
@{
    ViewBag.Title = "Transaction";
}

<h2>Transaction</h2>

@Styles.Render("~/Content/Custom/cart.css")

<h3>My Transcation</h3>
@Html.Hidden("RemoveFromCartUrl", Url.Action("RemoveFromCart", "Cart"))
<div id="cartitems" class="table">
    @*@Html.Partial("_CartTable", Model)*@
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/Custom/Cart.js")
}