
@{
    ViewBag.Title = "Transaction";
}

<h2>Transaction</h2>

@Styles.Render("~/Content/Custom/cart.css")

<h3>My Transaction</h3>
@section scripts
{
    @Scripts.Render("~/Scripts/Custom/Cart.js")
}