.login-body-container {
    width: 400px;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 0 0px rgba(0,0,0,.15), 0 2px 3px 1px rgba(0,0,0,.2);
}

.btn-sign-in {
    margin: auto;
    width: 70%;
}

.input-group-center {
    width: 70%;
    margin: auto;
}