.navbar-brand {
    font-size: 20px;
}

.navbar-inverse {
    background-color: #062B73;
}

.navbar-inverse .navbar-brand {
    color: #89f442;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #FFFF1C;
    background-color: transparent;
}

#navbar-right {
    margin: 7.5px -15px;
}

#searchpane{
    padding-top:8px;
    padding-bottom:2px;
}

    #navbar-right > li > span {
        display: block;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 20px;
        max-height: 340px;
        overflow-x: visible;
        /*color: #f2cb6a;*/
    }

@media (min-width: 768px) {
    #navbar-right {
        float: right;
        margin: 0;
    }

    #navbar-right > li {
        float: left;
    }

    #navbar-right > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


