.navbar-brand {
    font-size: 20px;
}

.navbar-inverse {
    background-color: #062B73;
}

    .navbar-inverse .navbar-brand {
        color: #89f442;
    }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
            color: #FFFF1C;
            background-color: transparent;
        }

#searchpane {
    padding-top: 8px;
    padding-bottom: 2px;
}

.login-popup-area {
    visibility: hidden;
    width: 150px;
    height: auto;
    padding: 10px;
    background: #e4f5f0;
    border-radius: 5px;
    box-shadow: 0 0 0 0px rgba(0,0,0,.15), 0 2px 3px 1px rgba(0,0,0,.2);
    position: absolute;
    z-index: 1;
    margin-top: -10px;
    right: -40px;
}

    .login-popup-area a {
        text-decoration: none;
        color: #fff;
    }

.column-flex {
    display: flex;
    flex-direction: column;
}

    .column-flex::after { /*clear floats after columns*/
        content: "";
        display: table;
        clear: both;
    }

#nav-account {
    width: 40px;
}

    #nav-account:hover .login-popup-area {
        visibility: visible;
    }

.btn-sign-in {
    cursor: pointer;
    margin: auto;
    width: 70%;
    background: #4c6da9;
    border-radius: 5px;
    border: 1px groove lightgrey;
}
