#image {
    max-height: 300px;
    max-width: 300px;
    min-width: 100px;
    min-height: 100px;
}

.media-group {
    width: 50%;
    min-width: 350px; 
    float: left;
}

#generalinfo {
    width: 50%;
    float: left;
    
}

#product-header-right > span
{
    vertical-align: central;
}

.form-control{
    display: block;
    width: 100%;
}

.form-group {
    margin-left: 15px;
}

