.col-md-3 {
    margin:10px;
    margin-bottom: 100px;
    width: 260px;
    height: 280px;
}

.thumbnail-area {
    width: 260px;
    height: 270px;
}

.thumbnailImg {
    width: 260px;
    height: 240px;
}
