.col-md-3 {
    margin:5px;
    margin-bottom: 50px;
    width: 240px;
    height: 280px;
}

.thumbnail-area {
    width: 240px;
    height: 270px;
}

.thumbnailImg {
    width: 240px;
    height: 250px;
}
