.col-md-3 {
    margin:6px;
    margin-bottom: 60px;
    width: 260px;
    height: 280px;
}

h4 > a{
    color: black;
}

.thumbnail{
    width: 100%;
    height: auto;
}

.thumbnailImg {
    max-width: 100%;
    max-height: 100%;
    padding-left:10px;
    padding-right:10px;
}

.square {
    height: 200px;
    width: 100%;
}

.col-md-8 {
    max-width:70%;
}
.inputgroup {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
}

.productname{
    padding-left:6px;
    font-size:18px;
}

#pricetag {
    color: midnightblue;
    text-align:center;
    background-color: palegreen;
    font-size: 18px;
    width:100%;
    float:left;
}

#cartplus{
    line-height: 25px;
    float:right;
}