label {
    font-size: 16px;
}

#fileBrowser {
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-top: 15px;
    margin-left: 0px;
}

#fileBrowser input.upload {
    position: absolute;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.panel-body {
    width:100%;
}
#leftpanel {
    width: 50%;
    min-width: 200px;
    float: left;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-right: 1px outset;
}

#rightpanel {
    float: left;
    min-width: 250px;
    padding-top: 10px;
    padding-left: 15px;
}

#image {
    max-height: 300px;
    max-width: 300px;
    min-width: 100px;
    min-height: 100px;
}

#button-area {
    padding-top: 20px;
    padding-left: 10px;
}

#button-area > button {
    margin-right: 10px;
}

#browsergroup {
    max-width: 280px;
}
