<div id="addToCartSuccess" class="alert alert-success alert-dismissible fade in" role="alert" style="display:none">
    <strong>Successfully added to cart! </strong><a href="@Url.Action("Index","Cart")" class="alert-link">Go to Cart</a>
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
