@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title - Author</h2>
<br/>
<div>
    <p><b>Owner</b>: Hoang Anh Tran</p>
    <p><b>Address</b>: 201 University Ave, Apt 302, Troy, AL 36081</p>
</div>
<p><b>Email</b>: <a><i> hoanganhtran1998@@gmail.com</i></a></p>