@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br/>
<div>
    <p><b>Owner/Developer</b>: Hoang Anh Tran</p>
    <p>Ba Thang Hai, Ward 14, District 10, Ho Chi Minh</p>
</div>
<p><b>Email</b>: <a><i> hoanganhtran1998@@gmail.com</i></a></p>