@model List<ProductViewModel>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Custom/product-thumbnail.css")

<div class="jumbotron">
    <img src="http://www.mediasuperstore.com/image/cache/data/slideshow/electronics_sale_banner-980x280.jpg" />
</div>
<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("Partial/_ProductThumbnail", product);
    }
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Custom/Cart.js")

}